<div class="cart" *ngIf="show">
  <span (click)="close()" class="close">X</span>
  <div class="cart__content">
    <div class="cart__content__products">
      <p *ngIf="emptyList()">Carrinho Vazio</p>
      <div *ngFor="let product of cartData" class="cart__content__products__product">
        <img [src]="product?.avatar" />
        <div class="cart__content__products__product__infos">
          <span class="cart__content__products__product__infos__name">{{
            product?.name
            }}</span>
          <span class="cart__content__products__product__infos__price">{{ product?.price }} <small>DOTZX</small></span>
        </div>
      </div>
    </div>
  </div>

  <div class="cart__footer">
    <div class="cart__footer__address">
      <p>End:</p>
      <div class="cart__footer__address__infos">
        <span>Av. Olavo lacerda montenegro, 6675 b</span>
        <span>46534534-3453</span>
      </div>
    </div>
    <div class="cart__footer__infos">
      <p>
        Seus pontos: <span>{{ user?.points }} <small>DOTZX</small></span>
      </p>
    </div>
    <div class="cart__footer__infos">
      <p>
        Valor da troca: <span>{{ getTotal() }} <small>DOTZX</small></span>
      </p>
    </div>
    <div class="cart__footer__infos">
      <p>
        Saldo: <span>{{ getBalance() }} <small>DOTZX</small></span>
      </p>
    </div>
    <button>Concluir troca</button>
  </div>
</div>
