.container {
  background-color: purple;
  color: #fff;
  justify-content: space-between;
  flex-direction: row;
  height: 40px;
  display: flex;
  span {
    font-size: 30px;
    padding: 10px;
    float: left;
  }
  mat-icon{
    float: right;
    padding: 10px;
  }
  button {
    background-color: transparent;
    border-color: transparent;
    height: 10px;
    color:white;
  }
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-align-tabs {
  background-color: #d1d1d1;
}
