<div class="container">
  <div>
    <mat-icon class="example-icon">arrow_back_ios</mat-icon>
  </div>
  <div>
    <span class="container-title">DotzX</span>
  </div>
  <div>
    <mat-icon class="example-icon">perm_identity</mat-icon>
    <mat-icon class="example-icon">shopping_cart</mat-icon>
    <mat-icon class="example-icon">home</mat-icon>
    <mat-icon class="example-icon">help</mat-icon>
  </div>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Calçados">
    <div class="mat-tab">

    </div>
  </mat-tab>
  <mat-tab label="Roupas">
    <div class="mat-tab">

    </div>
  </mat-tab>
  <mat-tab label="Acessórios">
    <div class="mat-tab">

    </div>
  </mat-tab>
</mat-tab-group>
