.product {
  &__back {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    background-color: #e4e4e4;
    cursor: pointer;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  &__infos {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__name {
      font-size: 25px;
      margin-bottom: -5px;
    }

    &__price {
      font-weight: bold;
      font-size: 20px;
      color: #000;
      margin-bottom: 10px;
    }

    &__description {
      display: block;
      text-align: justify;
      overflow-wrap: anywhere;
    }
  }

  &__footer {
    padding: 0 20px;
    margin-top: 20px;

    button {
      width: 100%;
      background-color: purple;
      font-weight: bold;
      border: 0;
      border-radius: 4px;
      padding: 20px;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
