<div class="product">
  <div [routerLink]="['/produtos']" class="product__back">
    <mat-icon class="example-icon">arrow_back_ios</mat-icon>
  </div>
  <div class="product__image">
    <img [src]="product?.avatar" />
  </div>
  <div class="product__infos">
    <span class="product__infos__name">{{ product?.name }}</span>
    <span class="product__infos__price">{{ product?.price }} <small>Dz</small></span>
    <span class="product__infos__description">{{ product?.description }}</span>
  </div>
  <div class="product__footer">
    <button (click)="addToCart()">Adicionar ao Carrinho</button>
  </div>
</div>
