.container-product{
  background-color: #d1d1d1;
  height: 200px;
  width: 150px;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  img{
    height: 150px;
  }
  span {
    background-color: purple;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    border-radius: 6px;
  }
}
